header {
  background-color: #ffe524;
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0.15em 0em 0em 0em;
  color: #b32f52;
  text-align: center;
  font-family: 'Sigmar One', bold;
}

h2 {
  border-top: 3px solid #ffe524;
  color: #b32f52;
  font-family: 'Sigmar One', bold;
  margin: 0.5em;
}

h3 {
  color: #b32f52;
  font-family: 'Sigmar One', bold;
  margin: 0.5em;
}

dl{
  margin: 0.5em;
  font-family: arial, sans-serif;
}

dl dt {
  font-weight: bold;
}

dl dd{
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

figure {
  border: 3px solid #c5b844;
  background-color: #fffce0;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
}

figcaption {
  font-style: italic;
}

a {
  color: #b32f52;
}

nav a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 0.25em;
  padding: 0.5em;
  background-color: #b2a215;
  display: inline-block;
}

ol {
  list-style-type: none;
  padding: 0em 0em 0.5em 0em;
  font-family: arial, sans-serif;
  text-align: center;
  margin: 0;
}

ol li {
  display: inline-block;
}

img {
  width: 100%;
}

nav a:hover {
  background-color: #cc3865;
}

p {
  margin: 0.5em;
  font-family: arial, sans-serif;
}

.webs {
  text-align: center;
  margin: 0;
  padding: 0.15em 0em 0em 0em;
}
footer{
  background-color: #ffe524;
  margin: 0;
  padding: 1em;
}

.whatever {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.quotation {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0.5em;
  color: #b2a215;
}

blockquote {
  text-align: center;
  font-style: italic;
  margin-right: 5em;
  margin-left: 5em;
  color: #b2a215;
  font-size: 1.25em;
}

.speaker {
  text-align: center;
  font-style: italic;
  margin-top: 0;
  color: #b2a215;
  font-size: 1em;
  font-family: arial, sans-serif;
}
